<div class="discover-articles">
    <div class="column is-12">
      <h3 class="title is-3">Discover</h3>
    </div>
    <div class="container card-container">
      <div class="card img-fluid" style="width:300px">
        <div class="card card-overlay"></div>
          <img class="card-img-top" src="https://images.pexels.com/photos/262218/pexels-photo-262218.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" alt="Card image" style="width:100%">
            <div class="card-img-overlay">
            <h2 class="card-title title is-5">Men’s mental health issues in campaign The Silent Killer: Let’s make some noise</h2>
            <div class="discover-source">
            <%= image_tag("https://avataaars.io/?avatarStyle=Circle&topType=LongHairBob&accessoriesType=Blank&hairColor=Black&facialHairType=Blank&clotheType=BlazerSweater&eyeType=Default&eyebrowType=Default&mouthType=Default&skinColor=Brown", style:"width: 50px; height:50px") %>
            <p class="discover-author">Charis Chang</p>
            </div>
      </div>
    </div>
    <div class="card img-fluid last-card" style="width:300px">
        <div class="card card-overlay"></div>
          <img class="card-img-top" src="https://images.unsplash.com/photo-1506274512-56255c252865?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=afb741f4f4c1b96ee3aa68dee97984af&auto=format&fit=crop&w=934&q=80" alt="Card image" style="width:100%">
            <div class="card-img-overlay">
            <h2 class="card-title title is-5">Why men need to be able to open up to each other</h2>
            <div class="discover-source">
            <%= image_tag("https://avataaars.io/?avatarStyle=Circle&topType=LongHairBob&accessoriesType=Blank&hairColor=Black&facialHairType=Blank&clotheType=BlazerSweater&eyeType=Default&eyebrowType=Default&mouthType=Default&skinColor=Brown", style:"width: 50px; height:50px") %>
            <p class="discover-author">Stephanie Bedo</p>
            </div>
      </div>
    </div>
    <div class="card img-fluid last-card" style="width:300px">
        <div class="card card-overlay"></div>
          <img class="card-img-top" src="https://images.unsplash.com/photo-1532903234190-3c6f36a3687d?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=63f734db46593dc2dd03418e9e534d24&auto=format&fit=crop&w=935&q=80" alt="Card image" style="width:100%">
            <div class="card-img-overlay">
            <h2 class="card-title title is-5">This teenager's story reminds us that mental illness doesn't discriminate</h2>
            <div class="discover-source">
            <%= image_tag("https://avataaars.io/?avatarStyle=Circle&topType=LongHairBob&accessoriesType=Blank&hairColor=Black&facialHairType=Blank&clotheType=BlazerSweater&eyeType=Default&eyebrowType=Default&mouthType=Default&skinColor=Brown", style:"width: 50px; height:50px") %>
            <p class="discover-author">Daniel Davies</p>
            </div>
      </div>
    </div>
    <div class="card img-fluid last-card" style="width:300px">
        <div class="card card-overlay"></div>
          <img class="card-img-top" src="https://images.unsplash.com/photo-1525551477671-b3263af6cddd?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=be4b896d43baeb99ffeeaba36f313715&auto=format&fit=crop&w=934&q=80" alt="Card image" style="width:100%">
            <div class="card-img-overlay">
            <h2 class="card-title title is-5">The men’s mental health crisis Australia can no longer ignore</h2>
            <div class="discover-source">
            <%= image_tag("https://avataaars.io/?avatarStyle=Circle&topType=LongHairBob&accessoriesType=Blank&hairColor=Black&facialHairType=Blank&clotheType=BlazerSweater&eyeType=Default&eyebrowType=Default&mouthType=Default&skinColor=Brown", style:"width: 50px; height:50px") %>
            <p class="discover-author">Shannon Molloy</p>
            </div>
      </div>
    </div>
  </div>

</div>




<div class="columns">
  <%= render 'shared/discussions' %>
  <%= render 'sidebar' %>
</div>
