<div class="discover-articles">
    <div class="column is-12">
      <h3 class="title is-3">Discover</h3>
    </div>
    <div class="container card-container">
      <div class="card img-fluid" style="width:350px">
        <div class="card card-overlay"></div>
          <img class="card-img-top" src="https://images.pexels.com/photos/262218/pexels-photo-262218.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" alt="Card image" style="width:100%">
            <div class="card-img-overlay">
            <h2 class="card-title title is-5"><span>Men’s mental health issues in campaign The Silent Killer: Let’s make some noise</span></h2>
            <div class="discover-source">
            <%= image_tag("https://avataaars.io/?avatarStyle=Circle&topType=LongHairBob&accessoriesType=Blank&hairColor=Black&facialHairType=Blank&clotheType=BlazerSweater&eyeType=Default&eyebrowType=Default&mouthType=Default&skinColor=Brown", style:"width: 50px; height:50px") %>
            <p class="discover-author">Charis Chang</p>
            </div>
      </div>
    </div>
    <div class="card img-fluid last-card" style="width:350px">
        <div class="card card-overlay"></div>
          <img class="card-img-top" src="https://images.unsplash.com/photo-1513789181297-6f2ec112c0bc?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=1631cf3b82e2e1621d491c709f1a5f56&auto=format&fit=crop&w=934&q=80" alt="Card image" style="width:100%">
            <div class="card-img-overlay">
            <h2 class="card-title title is-5">Dave Hughes opens up about his personal battle</h2>
            <div class="discover-source">
            <%= image_tag("https://avataaars.io/?avatarStyle=Circle&topType=LongHairBob&accessoriesType=Blank&hairColor=Black&facialHairType=Blank&clotheType=BlazerSweater&eyeType=Default&eyebrowType=Default&mouthType=Default&skinColor=Brown", style:"width: 50px; height:50px") %>
            <p class="discover-author">Vanessa Brown</p>
            </div>
      </div>
    </div>
    <div class="card img-fluid last-card" style="width:350px">
        <div class="card card-overlay"></div>
          <img class="card-img-top" src="https://images.unsplash.com/photo-1525457136159-8878648a7ad0?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=284f60cd58743fd0e7eafa35176e65b9&auto=format&fit=crop&w=934&q=80" alt="Card image" style="width:100%">
            <div class="card-img-overlay">
            <h2 class="card-title title is-5">This teenager's story reminds us that mental illness doesn't discriminate</h2>
            <div class="discover-source">
            <%= image_tag("https://avataaars.io/?avatarStyle=Circle&topType=LongHairBob&accessoriesType=Blank&hairColor=Black&facialHairType=Blank&clotheType=BlazerSweater&eyeType=Default&eyebrowType=Default&mouthType=Default&skinColor=Brown", style:"width: 50px; height:50px") %>
            <p class="discover-author">Daniel Davies</p>
            </div>
      </div>
    </div>
    <div class="card img-fluid last-card" style="width:350px">
        <div class="card card-overlay"></div>
          <img class="card-img-top" src="https://images.unsplash.com/photo-1528280469494-bc0421abebab?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=d7be147f5c2ee5773ce48cc6e505b635&auto=format&fit=crop&w=934&q=80" alt="Card image" style="width:100%">
            <div class="card-img-overlay">
            <h2 class="card-title title is-5">Rural youth mental health outreach program launched to support rural western NSW</h2>
            <div class="discover-source">
            <%= image_tag("https://avataaars.io/?avatarStyle=Circle&topType=LongHairBob&accessoriesType=Blank&hairColor=Black&facialHairType=Blank&clotheType=BlazerSweater&eyeType=Default&eyebrowType=Default&mouthType=Default&skinColor=Brown", style:"width: 50px; height:50px") %>
            <p class="discover-author">Sally Cripps</p>
            </div>
      </div>
    </div>
  </div>

</div>

<div class="columns">
  <%= render 'shared/discussions' %>
  <%= render 'sidebar' %>
</div>
