<div class="discover-articles">
    <div class="column is-12">
      <h3 class="title is-3">Discover</h3>
    </div>
    <div class="container card-container">
    <a href="https://www.news.com.au/lifestyle/health/mind/the-silent-killer/news-story/e90d5b706453335d04247be4a836b044" target="_blank">
      <div class="card img-fluid" style="width:350px" data-aos="fade-up" data-aos-duration="300">
        <div class="card card-overlay"></div>
          <img class="card-img-top" src="https://images.unsplash.com/photo-1534564533601-4d3e3d9fd229?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=0371160f9ee624c5483f4d3ca50ca151&auto=format&fit=crop&w=934&q=80" alt="Card image" style="width:100%">
            <div class="card-img-overlay">
            <h2 class="card-title title is-5"><span>Men’s mental health issues in campaign The Silent Killer: Let’s make some noise</span></h2>
            <div class="discover-source">
            <%= image_tag("https://avataaars.io/?avatarStyle=Circle&topType=LongHairBob&accessoriesType=Blank&hairColor=Black&facialHairType=Blank&clotheType=BlazerSweater&eyeType=Default&eyebrowType=Default&mouthType=Default&skinColor=Brown", style:"width: 50px; height:50px") %>
            <p class="discover-author">Charis Chang</p>
            </div>
      </div>
    </div>
    </a>
    <a href="https://www.news.com.au/lifestyle/health/mind/mens-mental-health-dave-hughes-opens-up-about-his-personal-battle/news-story/402a65d7a70f5ed5450d1fa2ab16d7c5" target="_blank">
    <div class="card img-fluid last-card" style="width:350px" data-aos="fade-up" data-aos-duration="300" data-aos-delay="50">
        <div class="card card-overlay"></div>
          <img class="card-img-top" src="https://images.unsplash.com/photo-1513789181297-6f2ec112c0bc?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=1631cf3b82e2e1621d491c709f1a5f56&auto=format&fit=crop&w=934&q=80" alt="Card image" style="width:100%">
            <div class="card-img-overlay">
            <h2 class="card-title title is-5"><span>Dave Hughes opens up about his personal battle</span></h2>
            <div class="discover-source">
            <%= image_tag("https://avataaars.io/?avatarStyle=Circle&topType=LongHairStraightStrand&accessoriesType=Round&hairColor=Blonde&facialHairType=Blank&clotheType=BlazerSweater&eyeType=Default&eyebrowType=Default&mouthType=Default&skinColor=Brown", style:"width: 50px; height:50px") %>
            <p class="discover-author">Vanessa Brown</p>
            </div>
      </div>
    </div> </a>
    <a href="http://www.menshealth.co.uk/mend-the-gap/this-teenagers-story-reminds-us-that-mental-illness-doesnt-discriminate" target="_blank">
    <div class="card img-fluid last-card" style="width:350px" data-aos="fade-up" data-aos-duration="300" data-aos-delay="150">
        <div class="card card-overlay"></div>
          <img class="card-img-top" src="https://images.unsplash.com/photo-1525457136159-8878648a7ad0?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=284f60cd58743fd0e7eafa35176e65b9&auto=format&fit=crop&w=934&q=80" alt="Card image" style="width:100%">
            <div class="card-img-overlay">
            <h2 class="card-title title is-5"><span>This teenager's story reminds us that mental illness doesn't discriminate</span></h2>
            <div class="discover-source">
            <%= image_tag("https://avataaars.io/?avatarStyle=Circle&topType=ShortHairShortCurly&accessoriesType=Prescription01&hairColor=Black&facialHairType=BeardMedium&facialHairColor=Black&clotheType=ShirtCrewNeck&clotheColor=Gray02&eyeType=Side&eyebrowType=RaisedExcitedNatural&mouthType=Tongue&skinColor=Tanned", style:"width: 50px; height:50px") %>
            <p class="discover-author">Daniel Davies</p>
            </div>
      </div>
    </div>
      </a>
    <a href="https://www.nynganobserver.com.au/story/5715736/rural-youth-mental-health-outreach-program-launched/" target="_blank">
    <div class="card img-fluid last-card" style="width:350px" data-aos="fade-up" data-aos-duration="300" data-aos-delay="200">
        <div class="card card-overlay"></div>
          <img class="card-img-top" src="https://images.unsplash.com/photo-1528280469494-bc0421abebab?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=d7be147f5c2ee5773ce48cc6e505b635&auto=format&fit=crop&w=934&q=80" alt="Card image" style="width:100%">
            <div class="card-img-overlay">
            <h2 class="card-title title is-5"><span>Rural youth mental health outreach program launched to support rural western NSW</span></h2>
            <div class="discover-source">
            <%= image_tag("https://avataaars.io/?avatarStyle=Circle&topType=LongHairFroBand&accessoriesType=Prescription01&hairColor=Blonde&facialHairType=Blank&facialHairColor=Platinum&clotheType=ShirtVNeck&clotheColor=Red&eyeType=Surprised&eyebrowType=DefaultNatural&mouthType=Default&skinColor=Light", style:"width: 50px; height:50px") %>
            <p class="discover-author">Sally Cripps</p>
            </div>
      </div>
    </div>
  </div>
  </a>
</div>

<div class="columns"  data-aos="fade-up" data-aos-duration="300" data-aos-delay="250">
  <%= render 'shared/discussions' %>
  <%= render 'sidebar' %>
</div>
