<section class="splash">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-4">

 <div class="login-logo">
        <%= image_tag("letstalk-logo.png", :alt => "lets talk logo") %>
      </div>
        <h2 class="title is-2">Hey there stranger</h2>

      <h2 class="title is-2">How are you feeling today?</h2>
 
 
 
 <div id="wrapper" class="container">
    <div class="text-center">
      <h1>Sample post</h1>
      <p>This is an interesting sample post for Pusher </p>
    </div>
    <div id="comments" class="comments">
    <% @comments.each do |comment| %>
     <div class="col-6 offset-3">
      <div class="comment-wrap">
            <div class="photo">
                <div class="avatar" style="background-image: url('http://res.cloudinary.com/yemiwebby-com-ng/image/upload/v1525202285/avatar_xcah9z.svg')"></div>
            </div>        
            <div class="comment-block">
                <p class="comment-text"><%= comment.message %></p>
                <div class="bottom-comment">
                    <ul class="comment-actions">
                        <li class="show"><%= link_to 'Show', comment %></li>
                    </ul>
                </div>
            </div>
      </div>
    </div>  
    <% end %>
    </div>
    <div class='col-6 offset-4 col-sm-4'>
    </div>
    </div>


 <%= form_with(model: @comment, remote: true, format: :json, id: 'add_comment') do |form| %>
      <% if @comment.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@comment.errors.count, "error") %> prohibited this comment from being saved:</h2>
          <ul>
          <% @comment.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>
      <div class="field">
        <%= form.label :message %>
        <%= form.text_area :message, id: :comment_message, class: "form-control" %>
      </div>
      <div class="actions">
        <%= form.submit 'Add comment', class: "btn btn-success"%>
      </div>
    <% end %>


		

      </div>
    </div>
  </div>
</section>
