<section class="section section-login">
	<div class="container login-container">

    <div class="column is-6 login-img">
     <%= image_tag("https://cdn1.vectorstock.com/i/1000x1000/83/85/set-of-isometric-people-vector-13598385.jpg", :alt => "rss feed") %>
    </div>

		<div class="column is-6">
			<div class="column is-8 login-form">
				<h3 class="title is-2">Let's talk.</h3>
				<%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

          <div class="field">
				  	<div class="control email-control">
				    <%= f.input :email, required: false, input_html: { class: "input input__field"}, wrapper: false, label_html: { class: "label" } %>
						</div>
					</div>

				  <div class="field">
				  	<div class="control password-control">
				    <%= f.input :password, required: false, input_html: { class: "input input__field"}, wrapper: false, label_html: { class: "label" } %>
            <%= link_to "Forgot your password?", new_password_path(resource_name) %>
						</div>
					</div>

        <div class="login-form-btn">
				  <%= f.button :submit, "Login", class:"button primary-btn long" %>
				<% end %>
        </div>
				<br/>
				<%= render "devise/shared/links" %>
			</div>
		</div>
  </div>
</section>
